@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.converter div {
    margin: 1rem auto;
}

/* typography */

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 1.5rem;
}

.rate_date {
    font-size: small;
    color: #70757a;
}

.converter_title {
    font-size: 1rem;
    font-weight: normal;
}

.first_currency {
    color: #70757a;
}

.second_currency {
    font-size: 2.5rem;
    font-weight: bold;

}

/* converter form */

label {
    display: none;
}

.converter_form input::-webkit-outer-spin-button,
.converter_form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.converter_form input[type=number] {
    -moz-appearance: textfield;
}

.converter_form input,
.converter_form select {
    padding: 0.5rem;
}
